*{
    margin: 0%;
    padding: 0%;
    background-color: 	#F0F2F5;
    font-family: inherit;
}
.textbox{
    margin-top: 200px;
    margin-left: 150px;

}
h1{
    font-size: 55px;
    color: #1877f2;
    font-weight: bold;
    font-family: sans-serif;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.container{
    margin-top: -194px;
    margin-right: 160px;
    float: right;
    border-radius: 20px;
    background-color: #fff;  
    text-align: center;

   
    
}
form{
    width: 100%;
    float: right;
    background-color: white;
    border-radius: 10px;
    margin-top: -12px;
    padding: 20px;
    box-shadow: 1px 1px 6px 1px  #9a9a9a;
}
form input{
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 8px;
    margin-right: -10px;
    padding:17px;
    width: 90%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 19px;
    color: #ccc;

}
button{
    margin-top: 15px;
    background-color:#1877f2 ;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border: 1px solid ;
    font-weight: bold;


}
p{
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top: 10px;
}
p a{
    color: #1877f2;
    background-color: white;
}
.btn {
    padding: 7px;
    margin-top: 25px;
    padding-top: 13px;
    background-color: #47be30;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid #47be30;
    border-radius: 10px;
    width:60%;
    height: 28px;

}
hr{
    margin-top: 20px;
}
.btn a{
    background-color:#47be30 ;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;

}
a{
    text-decoration: none;
}
